exportPattern("^[[:alpha:]]+")

import(twitteR)
import(RSQLite)
import(logging)
import(lattice)
import(stringr)
import(ggplot2)
import(reshape2)
import(igraph)
import(tm)
import(wordcloud)
import(RColorBrewer)
import(cluster)
import(FactoMineR)
